{{ define "main" }}
<main class="site-main post-69 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-69" data-elementor-id="69" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-8332897 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="8332897">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fb3dc73"
                         data-element_type="column" data-id="fb3dc73">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-b7c1c13 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="b7c1c13" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-full size-full wp-image-1289" decoding="async" fetchpriority="high"
                                         height="617"
                                         sizes="(max-width: 1600px) 100vw, 1600px" src='{{ "img/2022/11/paulinamc2.jpg" | relURL }}' width="1600"/></div>
                            </div>
                            <div class="elementor-element elementor-element-aa62d54 elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="aa62d54" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default"><strong><span
                                            style="color: #008000;">Contact Us and Engage</span></strong></h2></div>
                            </div>
                            <div class="elementor-element elementor-element-16f54e4 elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="16f54e4" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>Get in touch with us to discuss your projects: <a
                                            href="mailto:info@weavecommunity.org">info@weavecommunity.org</a></p>
                                    <p>In addition to the calendar on this website, we have a mailing list that you can
                                        sign up for by emailing <a href="mailto:info@weavecommunity.org">info@weavecommunity.org</a>
                                        to receive updates.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}