{{ define "main" }}
<main class="site-main post-75 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-75" data-elementor-id="75" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-9d0f520 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="9d0f520">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-737fbc2"
                         data-element_type="column" data-id="737fbc2">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-a41438f elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="a41438f" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-full size-full wp-image-277" decoding="async" fetchpriority="high"
                                         height="626"
                                         sizes="(max-width: 2560px) 100vw, 2560px" src='{{ "img/2022/04/IMG_0677c-scaled.jpg" | relURL }}'/>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-772d68f elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="772d68f" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default"><span
                                            style="color: #008000;"><strong>Projects</strong></span></h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-bb59fda elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="bb59fda">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e9cbc69"
                         data-element_type="column" data-id="e9cbc69">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-883cefc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="883cefc">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0527d81"
                                         data-element_type="column" data-id="0527d81">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-bab7e09 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="bab7e09"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1084" decoding="async"
                                                         height="430"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/multidisciplinarymeetingsstart.jpg" | relURL }}'/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-eb8301a"
                                         data-element_type="column" data-id="eb8301a">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-2208cbe elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="2208cbe"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <h5><a href="../multi-disciplinary-meetings/index.html"><strong>Multi-Disciplinary
                                                        Meetings:</strong></a> </h5>
                                                    <p>Through regular meetings (usually Thursday late afternoon into
                                                        the evening), the Soil Factory provides a platform for
                                                        engagement. There is always room for spontaneous discussions,
                                                        and most weeks a few individuals are taking the lead on
                                                        organizing an activity. Get in touch with <a
                                                                href="mailto:rjn7@cornell.edu">Rebecca Nelson</a>, <a
                                                                href="mailto:neil@askpearl.com">Neil Schill</a> or <a
                                                                href="mailto:CL273@cornell.edu">Johannes Lehmann</a> if
                                                        you have a suggestion.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-26bbc42 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="26bbc42">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-289f998"
                         data-element_type="column" data-id="289f998">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-d8d04eb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="d8d04eb">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0c9c1cf"
                                         data-element_type="column" data-id="0c9c1cf">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-0255980 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="0255980"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1125" decoding="async"
                                                         height="457"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/mnstartup.jpg" | relURL }}'/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-813b034"
                                         data-element_type="column" data-id="813b034">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-81af98b elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="81af98b"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <h5><a href="../movie-nights/index.html"><strong>Movie
                                                        Nights:</strong> </a></h5>
                                                    <p>Movie nights (usually Friday) allow discussion of unusual films
                                                        that challenge us to think outside the box,- whether made during
                                                        silent film era at the beginning the 20th century or just last
                                                        year. Shown inside during the winter or projected onto the wavy
                                                        metal walls of The Soil Factory, even in rain or snow, the
                                                        conversations before and after the film create a community of
                                                        those interested in new ideas. Patty Keller, Cecelia Lawless and
                                                        Neil Schill are organizing this treat.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-5da403e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="5da403e">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-747bdab"
                         data-element_type="column" data-id="747bdab">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-4fd505d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="4fd505d">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2235f57"
                                         data-element_type="column" data-id="2235f57">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-deb5722 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="deb5722"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1173" decoding="async" height="432"
                                                         loading="lazy"
                                                         src='{{ "img/2022/11/exhibitionscover.gif" | relURL }}' width="768"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-81d9844"
                                         data-element_type="column" data-id="81d9844">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-0f3f8a0 elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="0f3f8a0"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <h5>
                                                        <a href="../exhibitions/index.html"><strong>Exhibitions:</strong> </a>
                                                    </h5>
                                                    <p>Art-Science exhibitions are an ongoing collaboration between
                                                        those engaging in The Soil Factory, resulting in an
                                                        ever-changing experiment. These exhibitions are less a static
                                                        product conceived by a single person and brought to a gallery
                                                        space than a joint activity and evolving conversation.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-516651d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="516651d">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-dd0ac9d"
                         data-element_type="column" data-id="dd0ac9d">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-6c3d098 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="6c3d098">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0261803"
                                         data-element_type="column" data-id="0261803">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-7722fa3 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="7722fa3"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1165" decoding="async" height="492"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/eventslink.jpg" | relURL }}'/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b2542a5"
                                         data-element_type="column" data-id="b2542a5">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-47f4986 elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="47f4986"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <h5><a href="../events/index.html"><strong>Events:</strong> </a>
                                                    </h5>
                                                    <p>Events take the form of performances, concerts, readings that
                                                        engage audiences with diverse topics, trigger community
                                                        conversations, and forge new connections.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-6ec9c29 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="6ec9c29">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2add1a4"
                         data-element_type="column" data-id="2add1a4">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-af6c720 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="af6c720">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a4a1b51"
                                         data-element_type="column" data-id="a4a1b51">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-2dd60a3 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="2dd60a3"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1178" decoding="async" height="393"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/workshopcover.jpg" | relURL }}'/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9984c75"
                                         data-element_type="column" data-id="9984c75">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-97b33b4 elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="97b33b4"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <h5><strong>Workshops:</strong> </h5>
                                                    <p>The Soil Factory is a platform for experimental workshops that
                                                        cut across disciplines and brings people together to discuss
                                                        various topics.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-82b074c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="82b074c">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6c27313"
                         data-element_type="column" data-id="6c27313">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-94e0bba elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="94e0bba">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-78e6723"
                                         data-element_type="column" data-id="78e6723">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-abf1c09 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="abf1c09"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1182" decoding="async" height="600"
                                                         loading="lazy"
                                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/11/residencycover1-1024x768.jpg" | relURL }}'/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6866640"
                                         data-element_type="column" data-id="6866640">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-d4faeb0 elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="d4faeb0"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <h5><a href="../residencies/index.html"><strong>Art-Science
                                                        Residencies:</strong> </a></h5>
                                                    <p>Residencies are open to anyone who is interested in engaging with
                                                        the community at The Soil Factory, including but not limited to
                                                        artists, scientists, musicians, community organizers, activists,
                                                        environmentalists. This program started in November 2021 and
                                                        utilizes a small house with access to the land and programming
                                                        at The Soil Factory. We are experimenting with innovative
                                                        approaches to bring people together that would normally not meet
                                                        to generate connections for building a sustainable future. If
                                                        you want to visit or know someone you want to invite, get in
                                                        touch with <a href="mailto:anna.ialeggio@gmail.com">Anna
                                                            Ialeggio</a>.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-64e92ba elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="64e92ba">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c90912d"
                         data-element_type="column" data-id="c90912d">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-b6ff6d8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="b6ff6d8">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e70a1e1"
                                         data-element_type="column" data-id="e70a1e1">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-1bef5fe elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="1bef5fe"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1176" decoding="async" height="300"
                                                         loading="lazy"
                                                         src='{{ "img/2022/11/discussionpointcover.jpg" | relURL }}' width="207"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ff35373"
                                         data-element_type="column" data-id="ff35373">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-584d561 elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="584d561"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <h5><strong>Discussion Points:</strong> </h5>
                                                    <p>Small focused displays of literature, art and writing about the
                                                        art-science interface stimulates discussion. If you have an idea
                                                        about a project, get in touch with <a
                                                                href="mailto:CL273@cornell.edu">Johannes Lehmann</a>.
                                                    </p><h5><span style="color: #339966;">All events at The Soil Factory are free and without charge.</span> 
                                                </h5></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-8e4e571 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="8e4e571">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bc2d1f2"
                         data-element_type="column" data-id="bc2d1f2">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-b339c10 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="b339c10" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <figure class="wp-caption">
                                        <img alt="" class="attachment-1536x1536 size-1536x1536 wp-image-205" decoding="async" height="1536"
                                             loading="lazy"
                                             sizes="(max-width: 1152px) 100vw, 1152px" src='{{ "img/2022/04/IMG_1381-1152x1536.jpg" | relURL }}'/>
                                        <figcaption class="widget-image-caption wp-caption-text">Alyssa Kim posing next
                                            to an installation on SWAP-DON'T-SHOP to educate on environmental issues
                                            caused by the clothing industry, exhibition and swapping station made by Aly
                                            Mashek.
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-6c0c4cc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="6c0c4cc">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2bdaffe"
                                         data-element_type="column" data-id="2bdaffe">
                                        <div class="elementor-widget-wrap">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}