<div class="container footer">
    <hr>
    <div class="container">
        <div class="d-md-flex justify-content-between">
            <div>
                <p>{{ .Site.Title }}<br>{{ site.Params.description }}</p>
                <p>142 Ithaca Beer Drive<br>Ithaca NY, 14850</p>
            </div>
            <div>
                <p>Copyright @ {{ now.Year }}</p>
                <p><a href="{{ site.Params.copyrighturl }}">{{ .Site.Copyright }}</a><br>PO Box 7124<br>Ithaca NY, 14851</p>
                <p>WEAVE Community Inc. is a 501(c)(3) registered in NY</p>
            </div>
        </div>
    </div>
</div>