:root {
  /* Color Palette */
  --green: #61CE70;
  --rose: #c36;
  --title: #578740;
  --subtitle: #7A7A7A;
}

a {
  color: var(--rose);
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
}

.footer {
  font-size: 12px;
}

button {
  &:hover,
  &:focus {
    background: var(--green);
  }
}

.dropdown-item {
  &.active,
  &:focus {
    background: var(--green);
  }
}

.navbar-nav {
  .nav-link.active {
    color: var(--green);
  }
}

.banner {
  position: relative;
  img {
    display: flex;
    max-height: 720px;
    object-fit: cover;
  }
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-weight: bold;
      color: white;
      font-size: 48px;
      text-shadow: 3pt 3pt 3pt black;
    }
  }
}

.navbar-brand {
  text-align: justify;
  text-align-last: left;
  h1 {
    color: var(--title);
  }
  h4 {
    color: var(--subtitle);
    font-size: 16px;
  }
}


.project-logo {
 position: relative;
 float: right;
 max-width:300px
}

.alt-image {
  display:flex;
  align-items: center;
}
.container .alt-image:nth-child(2n) {
 flex-direction:row-reverse
}
@media only screen and (max-width: 767px) {
 .alt-image {
   flex-direction: column;
 }
 .container .alt-image:nth-child(2n) {
   flex-direction: column;
 }
 .project-logo {
   max-width:200px
 }
}