{{ define "main" }}
<main class="site-main post-1332 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-1332" data-elementor-id="1332" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-ba39e87 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="ba39e87">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5b29b58"
                         data-element_type="column" data-id="5b29b58">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-d031a7c elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="d031a7c" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-full size-full wp-image-1334" decoding="async" fetchpriority="high"
                                         height="679"
                                         sizes="(max-width: 1600px) 100vw, 1600px" src='{{ "img/2022/11/residency00a.jpg" | relURL }}' width="1600"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-efe42ae elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="efe42ae">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-00a4ede"
                         data-element_type="column" data-id="00a4ede">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-b1d05e7 elementor-widget elementor-widget-heading"
                                 data-element_type="widget" data-id="b1d05e7" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h3 class="elementor-heading-title elementor-size-default">Residencies</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-8f8c607 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="8f8c607">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-26ae6f5"
                         data-element_type="column" data-id="26ae6f5">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-df13954 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="df13954">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bb20787"
                                         data-element_type="column" data-id="bb20787">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-25ea987 elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="25ea987"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p>Residencies are open to anyone who is interested in engaging with
                                                        the community at The Soil Factory, including but not limited to
                                                        artists, scientists, musicians, community organizers, activists,
                                                        environmentalists. This program started in November 2021 and
                                                        utilizes a small house with access to the land and programming
                                                        at The Soil Factory. We are experimenting with innovative
                                                        approaches to bring people together that would normally not meet
                                                        to generate connections for building a sustainable future. A few
                                                        examples where exciting networks started to expand in unexpected
                                                        ways, are listed below&#8230;</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a0afa62"
                                         data-element_type="column" data-id="a0afa62">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-fba704c elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="fba704c"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1154" decoding="async"
                                                         height="513"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events11.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-d4185bf elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="d4185bf">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-32971ee"
                         data-element_type="column" data-id="32971ee">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-cb784a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="cb784a1">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d6de95d"
                                         data-element_type="column" data-id="d6de95d">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-35f8ca4 elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="35f8ca4"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p>Here are a few of our past residents:</p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.ashferlito.com/" rel="noopener"
                                                            target="_blank">Ash Ferlito</a> (Ithaca, NY)</span></p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.donnaoblongata.com/" rel="noopener"
                                                            target="_blank">Donna Oblongata</a> (theater artist &#8211; Philadelphia, PA)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.patrickjcostello.net/about"
                                                            rel="noopener" target="_blank">Patrick Costello</a> (visual &amp; landscape art &#8211; NYC)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://socialecologies.net/cms/social-ecologies/about-us/"
                                                            rel="noopener" target="_blank">Nance Klehm</a> (land systems designer, soil scientist &#8211; Freeport, IL)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.alekslon.com/" rel="noopener"
                                                            target="_blank">Alek Slon</a> (visual and video art &#8211; Warsaw, Poland)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://pl.linkedin.com/in/magdalena-pios-1b2b21a5"
                                                            rel="noopener" target="_blank">Magda Pios</a> (architect &#8211; Warsaw, Poland)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.rachelgarbercole.com/about"
                                                            rel="noopener" target="_blank">Rachel Garber Cole</a> (visual artist &#8211; NYC)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.haeahnkwon.com/" rel="noopener"
                                                            target="_blank">Hae Ahn Kwan</a> (visual artist &#8211; Halifax, Canada)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.danielbozhkovart.com/" rel="noopener"
                                                            target="_blank">Daniel Bozhkov</a> (visual &amp; performance &#8211; NYC)</span>
                                                    </p>
                                                    <p><span
                                                            style="color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-size: 1rem;"><a
                                                            href="http://www.ella-ziegler.de/" rel="noopener"
                                                            target="_blank">Ella Zeigler</a> (Berlin, DE)</span></p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="http://abigailraphaelcollins.com/" rel="noopener"
                                                            target="_blank">Abigail Raphael Collins</a> (video artist &#8211; Los Angeles, CA)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://engfac.cooper.edu/asimson" rel="noopener"
                                                            target="_blank">Amanda Simson</a> (science/art &#8211; NYC)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.artistsliteracies.org/aboutus"
                                                            rel="noopener" target="_blank">Andrew Freiband</a> (art/science intersection &#8211; NYC)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://artsandhumanities.ucsd.edu/academics/new-faculty/2022/dean-erdmann.html"
                                                            rel="noopener" target="_blank">dean erdmann</a> (visual/media artist &#8211; San Diego, CA)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="http://www.fritzhorstman.com/" rel="noopener"
                                                            target="_blank">Fritz Horstman</a> (sound and visual artist &#8211; Bethany, CT)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.leslierogers.net/" rel="noopener"
                                                            target="_blank">Leslie Rogers</a> (textile artist &#8211; Detroit, MI)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://paolobuggiani.com/" rel="noopener"
                                                            target="_blank">Paolo Buggiani</a> (performance artist &#8211; Rome, Italy )</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="http://nathanhendrickson.net/" rel="noopener"
                                                            target="_blank">Nathaniel Hendrickson</a> (sculpture and visual artist &#8211; KY)</span>
                                                    </p>
                                                    <p><span style="font-weight: 400;"><a
                                                            href="https://www.thesunview.org/">Dylan Gauthier</a> (artist/curator/educator &#8211; NYC)</span>
                                                    </p>
                                                    <p>Sonia Ramirez (sculpture/graffiti/installation artist)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1fe06a6"
                                         data-element_type="column" data-id="1fe06a6">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-7f285ba elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="7f285ba"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1344" decoding="async"
                                                         height="576"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/residencynanceklehm.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-86cf80f elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="86cf80f"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-384" decoding="async" height="600"
                                                         loading="lazy"
                                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/04/IMG_1568s-1024x768.jpg" | relURL }}' width="800"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-88d7c4f elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="88d7c4f"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1135" decoding="async" height="443"
                                                         loading="lazy"
                                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/11/mncoverphoto-1024x567.jpg" | relURL }}' width="800"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}