{{ define "main" }}
<main class="site-main post-1119 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-1119" data-elementor-id="1119" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-379b6b3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="379b6b3">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1d38bd3"
                         data-element_type="column" data-id="1d38bd3">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-5f4e1c9 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="5f4e1c9" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-1536x1536 size-1536x1536 wp-image-1135" decoding="async" fetchpriority="high"
                                         height="664"
                                         sizes="(max-width: 1200px) 100vw, 1200px" src='{{ "img/2022/11/mncoverphoto.jpg" | relURL }}' width="1200"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-3e961bb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="3e961bb">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a5a372b"
                         data-element_type="column" data-id="a5a372b">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-af3b58b elementor-widget elementor-widget-heading"
                                 data-element_type="widget" data-id="af3b58b" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h3 class="elementor-heading-title elementor-size-default">Movie Nights</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-eb722df elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="eb722df">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-591cfa1"
                         data-element_type="column" data-id="591cfa1">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-e43c825 elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="e43c825" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>Movie nights (usually Friday) allow discussion of unusual films that challenge us
                                        to think outside the box,- whether made during silent film era at the beginning
                                        the 20th century or just last year. Shown inside or projected onto the wavy
                                        metal walls of The Soil Factory, even in rain or snow, the conversations before
                                        and after the film create a community of those interested in new ideas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-676463d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="676463d">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2c565e4"
                         data-element_type="column" data-id="2c565e4">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-9449ad2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="9449ad2">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-95439a5"
                                         data-element_type="column" data-id="95439a5">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-01bce37 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="01bce37"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1124" decoding="async"
                                                         height="576"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mn02.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-edb230c"
                                         data-element_type="column" data-id="edb230c">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-0fd29d4 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="0fd29d4"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1123" decoding="async"
                                                         height="576"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mn03.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-2490ff3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="2490ff3">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7d05e16"
                         data-element_type="column" data-id="7d05e16">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-585ac25 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="585ac25">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fe34ed5"
                                         data-element_type="column" data-id="fe34ed5">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-e19cb78 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="e19cb78"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1122" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mn04.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c1a469a"
                                         data-element_type="column" data-id="c1a469a">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-c056f74 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="c056f74"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1121" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mn05.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}