<div class="card shadow">
  <div class="card-body">
    <h3 class="card-title">Please consider supporting our cause!</h3>
    <p>
<span style="font-weight: 400;"><span style="color: #000000;"><strong>
    The Soil Factory is actively working to grow our community support.
</strong></span>
    If you would like to directly contribute to the programs, events, and projects we offer, please consider <a
      href='{{ site.Params.paypal }}'>becoming a monthly sustaining member</a>, or write check to Weave Community and mail it to the PO Box listed below. Thank you for your consideration!
    </p>
    <div class="container" style="min-width: 250px;">
      <div class="d-flex justify-content-center p-2">
        <a class="btn btn-danger" href="{{ site.Params.paypal }}"
           role="button" style="width:50%">
          Donate!
        </a>
      </div>
    </div>
  </div>
</div>