{{- $page := . }}
<ul class="elementor-nav-menu">
    {{- range site.Menus.main }}
    {{- $active := $page.IsMenuCurrent .Menu . }}
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
        <a class="elementor-item {{ if $active }}elementor-item-active{{ end }}"
           href='{{ .URL | relURL }}'>{{- .Name }}</a>
        {{- if .HasChildren }}
        <ul class="sub-menu elementor-nav-menu--dropdown">
            {{- range .Children }}
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a class="elementor-sub-item {{ if $active }}elementor-item-active{{ end }}"
                   href='{{ .URL | relURL }}'>{{- .Name }}</a>
            </li>
            {{- end }}
        </ul>
        {{- end }}
    </li>
    {{- end }}
</ul>