{{ define "main" }}

{{ partial "banner.html" . }}
<div class="row mt-3">
  {{ .Content }}
</div>

{{ $pages := where .Pages ".Params.unlisted" "!=" "true" }}
{{ $pages = sort $pages "Title" }}
{{ $pages = sort $pages ".Params.order" }}

{{/* Paginate: 10 items per page */}}
{{ $paginator := .Paginate $pages 10 }}

{{ range $paginator.Pages }}
{{ if eq .Section "calendar" }}
<div class="row section-calender mt-3">
{{ else }}
<div class="row section mt-3">
{{ end }}
  <div class="col-md-5 col-sm-12">
    {{- $thumb := .Params.Thumb | default .Params.Banner -}}
    {{- $image := .Page.Resources.GetMatch $thumb -}}
    <a href="{{ .Params.link | default .Permalink }}">
      {{- if $image }}
      <img src="{{ $image.RelPermalink }}" style="width: 100%;">
      {{- else }}
      <img src="{{ $thumb }}" style="width: 100%;">
      {{- end }}
    </a>
  </div>
  <div class="col-md-7 col-sm-12 mt-md-0 mt-2">
    <a href="{{ .Params.link | default .Permalink }}">
      {{ if eq .Section "calendar" }}
      {{- $date := .Date.Local -}}
      <h3>{{ $date.AddDate 0 0 0 | dateFormat "Jan 2, 2006" }} - {{ $date.AddDate 0 0 7 | dateFormat "Jan 2, 2006"}}</h3>
      {{ else }}
      <h3>{{ .Title }}</h3>
      {{ end }}
    </a>
    <p>{{ .Summary }}</p>
  </div>
</div>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<div class="row mt-3">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {{ if $paginator.HasPrev }}
      <li class="page-item">
        <a class="page-link" href="{{ $paginator.Prev.URL }}">Previous</a>
      </li>
      {{ end }}

      {{ range $paginator.Pagers }}
      <li class="page-item {{ if eq . $paginator }}active{{ end }}">
        <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
      </li>
      {{ end }}

      {{ if $paginator.HasNext }}
      <li class="page-item">
        <a class="page-link" href="{{ $paginator.Next.URL }}">Next</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>
{{ end }}

{{ end }}
