{{ define "main" }}
<main class="site-main post-1061 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-1061" data-elementor-id="1061" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section

                    class="elementor-section elementor-top-section elementor-element elementor-element-ee2e86e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="ee2e86e">

                <div class="elementor-container elementor-column-gap-default">

                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9f7362e"
                         data-element_type="column" data-id="9f7362e">

                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-a8267e3 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                 data-element_type="widget" data-id="a8267e3" data-widget_type="divider.default">
                                <div class="elementor-widget-container">
                                    <hr style="border-top: 2px solid black">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-6bb78ea elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="6bb78ea">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5bd4f74"
                         data-element_type="column" data-id="5bd4f74">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-6e66dde elementor-widget elementor-widget-heading"
                                 data-element_type="widget" data-id="6e66dde" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h3 class="elementor-heading-title elementor-size-default">Multi-Disciplinary
                                        Meetings</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-456c77f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="456c77f">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-43e0adc"
                         data-element_type="column" data-id="43e0adc">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-e9a620e elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="e9a620e" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>Through regular meetings (usually Thursday late afternoon into the evening), the
                                        Soil Factory provides a platform for engagement. There is always room for
                                        spontaneous discussions, and most weeks a few individuals are taking the lead on
                                        organizing an activity. Some examples are shown here.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-41b5ef0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="41b5ef0">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7695cbf"
                         data-element_type="column" data-id="7695cbf">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-374cdb8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="374cdb8">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f149588"
                                         data-element_type="column" data-id="f149588">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-8c7ec34 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="8c7ec34"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1080" decoding="async" fetchpriority="high"
                                                         height="1024"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm01.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3b6ad4c"
                                         data-element_type="column" data-id="3b6ad4c">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-2cb1908 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="2cb1908"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1079" decoding="async"
                                                         height="1024"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm02.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-6fd1bed elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="6fd1bed">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-30410a5"
                         data-element_type="column" data-id="30410a5">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-6a413ad elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="6a413ad" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>Innovative assessments: a fresh look at how to grade exams, by how long a paper
                                        airplane made from the exam sheet can fly, how long it burns or how far you can
                                        throw it,- it turns out, traditional grading relates well! Why not turn to
                                        grading by fire? (July 1 2021) </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-f973d44 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="f973d44">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d3d5545"
                         data-element_type="column" data-id="d3d5545">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-2e7e2dc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="2e7e2dc">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f1aaa78"
                                         data-element_type="column" data-id="f1aaa78">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-399c48c elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="399c48c"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1078" decoding="async"
                                                         height="1024"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm03.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-86fc838"
                                         data-element_type="column" data-id="86fc838">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-26ff59e elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="26ff59e"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <figure class="wp-caption">
                                                        <img alt="" class="attachment-medium_large size-medium_large wp-image-1077" decoding="async" height="576"
                                                             loading="lazy"
                                                             sizes="(max-width: 768px) 100vw, 768px"
                                                             src='{{ "img/2022/11/mdm04.jpg" | relURL }}' width="768"/>
                                                        <figcaption class="widget-image-caption wp-caption-text">Urine
                                                            recycling: planning a landscape with straw bales (July 15,
                                                            2021)
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-59551d9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="59551d9">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1c159c8"
                         data-element_type="column" data-id="1c159c8">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-13e6dfa elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="13e6dfa">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-91baf4b"
                                         data-element_type="column" data-id="91baf4b">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-2838843 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="2838843"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1076" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm05.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2c2ec94"
                                         data-element_type="column" data-id="2c2ec94">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-8398137 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="8398137"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <figure class="wp-caption">
                                                        <img alt="" class="attachment-medium_large size-medium_large wp-image-1075" decoding="async" height="576"
                                                             loading="lazy"
                                                             sizes="(max-width: 768px) 100vw, 768px"
                                                             src='{{ "img/2022/11/mdm06.jpg" | relURL }}' width="768"/>
                                                        <figcaption class="widget-image-caption wp-caption-text">The
                                                            toilet challenge (July 22, 2021)
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-d305c98 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="d305c98">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-39a00f6"
                         data-element_type="column" data-id="39a00f6">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-ac02f9a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="ac02f9a">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-56f9137"
                                         data-element_type="column" data-id="56f9137">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-e733169 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="e733169"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1074" decoding="async" height="1024"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm07.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4a84875"
                                         data-element_type="column" data-id="4a84875">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-40ed172 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="40ed172"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1073" decoding="async" height="1025"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm08.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="elementor-element elementor-element-e1e4d31 elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="e1e4d31" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>The Question Machine: Inspired by conversations and the art of <a
                                            href="https://www.rachelgarbercole.com/" rel="noopener" target="_blank">Rachel
                                        Garber Cole</a> (see <em>106 Questions to a Dinosaur</em> under <a
                                            href="https://lehmannlab.cals.cornell.edu/research/art-and-sciences/the-soil-factory/the-soil-factory-discussion-points/">Discussion
                                        Point</a>) and collaborations with Nathaniel Stern, we built “Question
                                        Machines”,- what would a machine look like that does not answer but would
                                        generate scientific or societally important questions, how would it work? What
                                        does that tell us? How do we place ‘science’ in relation to ‘art’ and ‘design’
                                        in the space between novelty-utility-solution? (July 29, 2021)</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-0430889 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="0430889">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-075a4d0"
                         data-element_type="column" data-id="075a4d0">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-b3291d2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="b3291d2">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6f9bebf"
                                         data-element_type="column" data-id="6f9bebf">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-bbdd2ef elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="bbdd2ef"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1072" decoding="async" height="1024"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm09.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a78da3e"
                                         data-element_type="column" data-id="a78da3e">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-b9d3b3f elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="b9d3b3f"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1071" decoding="async" height="225"
                                                         loading="lazy"
                                                         src='{{ "img/2022/11/mdm10.jpg" | relURL }}'
                                                         width="300"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-44c70eb elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="44c70eb"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1070" decoding="async" height="225"
                                                         loading="lazy"
                                                         src='{{ "img/2022/11/mdm11.jpg" | relURL }}'
                                                         width="300"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-45ea3a5 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="45ea3a5">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-aaa9e9a"
                         data-element_type="column" data-id="aaa9e9a">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-0bebebc elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="0bebebc" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>Sustainable Ithaca: charting the issues of waste management and the role of civil
                                        societies (and probing the role of food, too; August 12 2021)</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-1121a7a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="1121a7a">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ac8e067"
                         data-element_type="column" data-id="ac8e067">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-f38913e elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="f38913e" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-full size-full wp-image-1316" decoding="async" height="581"
                                         loading="lazy"
                                         sizes="(max-width: 1600px) 100vw, 1600px" src='{{ "img/2022/11/calendartop.jpg" | relURL }}' width="1600"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-75b0a41 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="75b0a41">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5767265"
                         data-element_type="column" data-id="5767265">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-406f8f3 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="406f8f3" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1082" decoding="async" height="1024"
                                         loading="lazy"
                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/mdm13.jpg" | relURL }}' width="768"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7710101"
                         data-element_type="column" data-id="7710101">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-4382a6e elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="4382a6e" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <figure class="wp-caption">
                                        <img alt="" class="attachment-medium_large size-medium_large wp-image-1081" decoding="async" height="225"
                                             loading="lazy"
                                             src='{{ "img/2022/11/mdm14.jpg" | relURL }}' width="300"/>
                                        <figcaption class="widget-image-caption wp-caption-text">Recycling of building
                                            materials: an art-architecture meeting to repurpose wood, metal, and glass
                                            scraps to artful effect (August 19 2021; led by Marta Wisniewska and Felix
                                            Heisel, Cornell’s Department of Architecture)
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-9650278 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="9650278">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-840586e"
                         data-element_type="column" data-id="840586e">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-9369c74 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="9369c74">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5b4486f"
                                         data-element_type="column" data-id="5b4486f">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-8e6cd8a elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="8e6cd8a"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1068" decoding="async" height="1024"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm16.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-392a462"
                                         data-element_type="column" data-id="392a462">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-a2fdebc elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="a2fdebc"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <figure class="wp-caption">
                                                        <img alt="" class="attachment-medium_large size-medium_large wp-image-1069" decoding="async" height="576"
                                                             loading="lazy"
                                                             sizes="(max-width: 768px) 100vw, 768px"
                                                             src='{{ "img/2022/11/mdm15.jpg" | relURL }}' width="768"/>
                                                        <figcaption class="widget-image-caption wp-caption-text">
                                                            Pyrolysis in Ithaca: what are the opportunities and
                                                            challenges to introducing pyrolysis to treat sewage sludge
                                                            in Ithaca (August 26, 2021; led by an Ithaca group concerned
                                                            with the Ithaca Area Waste Water Treatment Facility)
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-a9df43e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="a9df43e">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fb2ce2e"
                         data-element_type="column" data-id="fb2ce2e">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-6600bc8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="6600bc8">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b6205a1"
                                         data-element_type="column" data-id="b6205a1">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-81f24e9 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="81f24e9"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1066" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm18.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-94aee3b"
                                         data-element_type="column" data-id="94aee3b">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-7cab4dd elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="7cab4dd"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1065" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm19.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-6eb4778 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="6eb4778">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ccab22f"
                         data-element_type="column" data-id="ccab22f">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-7b2e9c8 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="7b2e9c8" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1067" decoding="async" height="960"
                                         loading="lazy"
                                         sizes="(max-width: 720px) 100vw, 720px" src='{{ "img/2022/11/mdm17.jpg" | relURL }}' width="720"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-44fb374"
                         data-element_type="column" data-id="44fb374">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-fed5689 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="fed5689" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1063" decoding="async" height="1024"
                                         loading="lazy"
                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/mdm21.jpg" | relURL }}' width="768"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-350406a"
                         data-element_type="column" data-id="350406a">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-219a08f elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="219a08f" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1062" decoding="async" height="1024"
                                         loading="lazy"
                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/mdm22.jpg" | relURL }}' width="768"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-ca39deb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="ca39deb">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-feddbec"
                         data-element_type="column" data-id="feddbec">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-d0e18b8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="d0e18b8">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3aa7260"
                                         data-element_type="column" data-id="3aa7260">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-429b08a elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="429b08a"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p>Creativity-CoCreation-Collaboration: as part of the visit by Bram
                                                        Govaerts, he was joined by Neema Kudva, Anna Davidson, and
                                                        Prabhu Pingali who were in conversation with Johannes Lehmann
                                                        and Rebecca Nelson (March 17, 2022). A stimulating panel that
                                                        explored failure, trust and he role of fun-vs-fear in the
                                                        motivation for collaboration.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a773be1"
                                         data-element_type="column" data-id="a773be1">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-eb3d214 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="eb3d214"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-medium_large size-medium_large wp-image-1064" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px"
                                                         src='{{ "img/2022/11/mdm20.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}