{{ define "main" }}
<main class="site-main post-1199 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-1199" data-elementor-id="1199" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-066e0a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="066e0a1">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4499f8b"
                         data-element_type="column" data-id="4499f8b">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-2dca722 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                 data-element_type="widget" data-id="2dca722" data-widget_type="divider.default">
                                <div class="elementor-widget-container">
                                    <hr style="border-top: 2px solid ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-97f543c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="97f543c">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8e4b548"
                         data-element_type="column" data-id="8e4b548">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-9f39be5 elementor-widget elementor-widget-heading"
                                 data-element_type="widget" data-id="9f39be5" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h3 class="elementor-heading-title elementor-size-default">Events</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-7fce6ac elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="7fce6ac">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0cac01e"
                         data-element_type="column" data-id="0cac01e">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-369cd48 elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="369cd48" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>Events take the form of performances, concerts, readings that engage audiences
                                        with diverse topics, trigger community conversations, and forge new
                                        connections.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-9ea9084 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="9ea9084">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d00ddcb"
                         data-element_type="column" data-id="d00ddcb">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-5ab52df elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="5ab52df">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-60 elementor-inner-column elementor-element elementor-element-93cdb57"
                                         data-element_type="column" data-id="93cdb57">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-52cf62d elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="52cf62d"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1164" decoding="async" fetchpriority="high"
                                                         height="800"
                                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/11/events01-1024x1024.png" | relURL }}' width="800"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-40 elementor-inner-column elementor-element elementor-element-f92606a"
                                         data-element_type="column" data-id="f92606a">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-8d78545 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="8d78545"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <figure class="wp-caption">
                                                        <img alt="" class="attachment-large size-large wp-image-1163" decoding="async"
                                                             height="225"
                                                             src='{{ "img/2022/11/events02.jpg" | relURL }}' width="300"/>
                                                        <figcaption class="widget-image-caption wp-caption-text">
                                                            Gorgonne
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-da8606a elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="da8606a"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <figure class="wp-caption">
                                                        <img alt="" class="attachment-large size-large wp-image-1162" decoding="async"
                                                             height="225"
                                                             src='{{ "img/2022/11/events03.jpg" | relURL }}' width="300"/>
                                                        <figcaption class="widget-image-caption wp-caption-text">Cameron
                                                            Nelson
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-f491d4a elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="f491d4a"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <figure class="wp-caption">
                                                        <img alt="" class="attachment-large size-large wp-image-1161" decoding="async" height="225"
                                                             loading="lazy"
                                                             src='{{ "img/2022/11/events04.jpg" | relURL }}' width="300"/>
                                                        <figcaption class="widget-image-caption wp-caption-text">Paulina
                                                            Velazquez
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-8b44f60 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="8b44f60">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-890840d"
                         data-element_type="column" data-id="890840d">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-d294469 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="d294469">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-60 elementor-inner-column elementor-element elementor-element-8608d08"
                                         data-element_type="column" data-id="8608d08">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-9f8cd8f elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="9f8cd8f"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1160" decoding="async" height="800"
                                                         loading="lazy"
                                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/11/events05-1024x1024.jpg" | relURL }}' width="800"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-40 elementor-inner-column elementor-element elementor-element-304a487"
                                         data-element_type="column" data-id="304a487">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-b67277d elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="b67277d"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1159" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/event06.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-14fa4ae elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="14fa4ae"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1158" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/enents07.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-4cc553a elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="4cc553a"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1157" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events08.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-1f2b8b1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="1f2b8b1">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-798a388"
                         data-element_type="column" data-id="798a388">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-5a2b51e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="5a2b51e">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-60 elementor-inner-column elementor-element elementor-element-c1d6b49"
                                         data-element_type="column" data-id="c1d6b49">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-cdba179 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="cdba179"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1156" decoding="async" height="745"
                                                         loading="lazy"
                                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/11/events09-1024x953.jpg" | relURL }}' width="800"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-40 elementor-inner-column elementor-element elementor-element-ef6cc92"
                                         data-element_type="column" data-id="ef6cc92">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-fa0c035 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="fa0c035"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1155" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events10.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-ab9cf95 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="ab9cf95"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1154" decoding="async" height="513"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events11.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-e15807c elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="e15807c"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1153" decoding="async" height="1024"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events12.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-4afc3a3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="4afc3a3">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d9e3311"
                         data-element_type="column" data-id="d9e3311">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-968e7f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="968e7f2">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4cdc640"
                                         data-element_type="column" data-id="4cdc640">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-ca54390 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="ca54390"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1152" decoding="async" height="1000"
                                                         loading="lazy"
                                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/11/events13-819x1024.jpg" | relURL }}' width="800"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-fbf65ee"
                                         data-element_type="column" data-id="fbf65ee">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-e91eadd elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="e91eadd"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1151" decoding="async" height="1024"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events14.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-47f8e89 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="47f8e89"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1149" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events16.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-b70f502"
                                         data-element_type="column" data-id="b70f502">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-5bdd33e elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="5bdd33e"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1150" decoding="async" height="1024"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events15.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-b8a8447 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="b8a8447">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f8a6c6b"
                         data-element_type="column" data-id="f8a6c6b">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-dc8fe3e elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="dc8fe3e" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-large size-large wp-image-1148" decoding="async" height="563"
                                         loading="lazy"
                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/11/events17.jpg" | relURL }}' width="800"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-231ff21 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="231ff21">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b30c132"
                         data-element_type="column" data-id="b30c132">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-871d9cc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="871d9cc">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-cb35843"
                                         data-element_type="column" data-id="cb35843">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-29d3e4a elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="29d3e4a"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1147" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events18.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-47fae95"
                                         data-element_type="column" data-id="47fae95">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-3b2ab6d elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="3b2ab6d"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1146" decoding="async" height="399"
                                                         loading="lazy"
                                                         sizes="(max-width: 553px) 100vw, 553px" src='{{ "img/2022/11/events19.jpg" | relURL }}' width="553"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-d01a1fe elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="d01a1fe">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7dfc7b5"
                         data-element_type="column" data-id="7dfc7b5">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-f64c993 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="f64c993">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-603d590"
                                         data-element_type="column" data-id="603d590">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-9f6040c elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="9f6040c"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1145" decoding="async" height="432"
                                                         loading="lazy"
                                                         sizes="(max-width: 432px) 100vw, 432px" src='{{ "img/2022/11/events20.jpg" | relURL }}' width="432"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-e9c80e2 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="e9c80e2"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1144" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events21.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-eca7d1c"
                                         data-element_type="column" data-id="eca7d1c">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-43e8dbe elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="43e8dbe"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1143" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events22.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-70f7ce3 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="70f7ce3"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1142" decoding="async" height="1024"
                                                         loading="lazy"
                                                         sizes="(max-width: 728px) 100vw, 728px" src='{{ "img/2022/11/events23.jpg" | relURL }}' width="728"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-f16c941 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="f16c941">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-74e8e8a"
                         data-element_type="column" data-id="74e8e8a">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-400d28c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="400d28c">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2455de6"
                                         data-element_type="column" data-id="2455de6">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-fd5ee91 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="fd5ee91"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1141" decoding="async" height="720"
                                                         loading="lazy"
                                                         sizes="(max-width: 576px) 100vw, 576px" src='{{ "img/2022/11/events24.jpg" | relURL }}' width="576"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a5a24d3"
                                         data-element_type="column" data-id="a5a24d3">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-4711565 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="4711565"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1140" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events25.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                            <div class="elementor-element elementor-element-3e229fd elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="3e229fd"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1139" decoding="async" height="576"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/events26.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}