{{ define "main" }}
<main class="site-main post-26 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-26" data-elementor-id="26" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-13004d9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="13004d9">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-08aafdf"
                         data-element_type="column" data-id="08aafdf">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-bd9b3a3 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="bd9b3a3" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-full size-full wp-image-1290" decoding="async" fetchpriority="high"
                                         height="671"
                                         sizes="(max-width: 1536px) 100vw, 1536px" src='{{ "img/2022/11/nanceklehmaction2.jpg" | relURL }}'/></div>
                            </div>
                            <div class="elementor-element elementor-element-548a7d6 elementor-widget elementor-widget-heading"
                                 data-element_type="widget" data-id="548a7d6" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default">About Us</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-16d5535 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="16d5535">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6e55205"
                         data-element_type="column" data-id="6e55205">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-dec8e88 elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="dec8e88" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>The Soil Factory was founded in Ithaca, NY, in mid-2021 to serve as an
                                        experimental space to develop innovative ways of bringing a diverse group of
                                        people together to tackle the most pressing issues of our time. The Soil Factory
                                        explores art-science approaches together with the local community, policy
                                        makers, the academic community, and anyone in the Ithaca region and globally who
                                        are interested in building an unusual platform of creative engagement. The Soil
                                        Factory is organized by <a href="https://weavecommunity.org/" rel="noopener"
                                                                   target="_blank">WeaveCommunity</a>, an Ithaca-based
                                        community organization. This website lists programming, links to information of
                                        those engaging with this initiative, and invites your participation.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}