{{ define "main" }}
<main class="site-main post-69 page type-page status-publish hentry" id="content">

    <div class="page-content">
        <div class="elementor elementor-69" data-elementor-id="69" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-8332897 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="8332897">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fb3dc73"
                         data-element_type="column" data-id="fb3dc73">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-aa62d54 elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="aa62d54" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default">
                                        <strong><span style="color: #008000;">{{ .Title }}</span></strong>
                                    </h2>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-16f54e4 elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="16f54e4" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    {{ .Content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</main>
{{ end }}