{{ define "main" }}
<main class="site-main post-1186 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-1186" data-elementor-id="1186" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-2f7b41a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="2f7b41a">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d2ed247"
                         data-element_type="column" data-id="d2ed247">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-3e5d627 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="3e5d627" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="" class="attachment-full size-full wp-image-1201" decoding="async" fetchpriority="high"
                                         height="764"
                                         sizes="(max-width: 1600px) 100vw, 1600px" src='{{ "img/2022/11/bettersabina2.jpg" | relURL }}' width="1600"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-a4b13ac elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="a4b13ac">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c5765ae"
                         data-element_type="column" data-id="c5765ae">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-ffb0825 elementor-widget elementor-widget-heading"
                                 data-element_type="widget" data-id="ffb0825" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h3 class="elementor-heading-title elementor-size-default">Exhibitions</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-e11d637 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="e11d637">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d716a90"
                         data-element_type="column" data-id="d716a90">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-fd3d8cc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="fd3d8cc">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ff80a49"
                                         data-element_type="column" data-id="ff80a49">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-d43ec6c elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="d43ec6c"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p>Art-Science exhibitions are an ongoing collaboration between
                                                        those engaging in The Soil Factory, resulting in an
                                                        ever-changing experiment. These exhibitions are less a static
                                                        product conceived by a single person and brought to a gallery
                                                        space than a joint activity and evolving conversation. Here are
                                                        some examples of these experiments.</p>
                                                    <p>Paulina Velazquez developed ideas around water quality and
                                                        sustainability using multiple projections (June-August 2021)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-01f95ae"
                                         data-element_type="column" data-id="01f95ae">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-a3594ec elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="a3594ec"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1190" decoding="async"
                                                         height="523"
                                                         sizes="(max-width: 800px) 100vw, 800px" src='{{ "img/2022/11/paulinaexhibit-1-1024x669.jpg" | relURL }}' width="800"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-9bbd105 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="9bbd105">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-895de0b"
                         data-element_type="column" data-id="895de0b">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-5d26634 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="5d26634">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-780bcca"
                                         data-element_type="column" data-id="780bcca">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-4782e77 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="4782e77"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1175" decoding="async"
                                                         height="576"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/exhibitions01.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5a02de4"
                                         data-element_type="column" data-id="5a02de4">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-25ebf32 elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="25ebf32"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p>Werner Sun developed the spatial design of large-scale mobile
                                                        commissioned for Cornell’s exhibition on climate change and
                                                        ecological calendars in the Nevin Center, collaborating with
                                                        Maro Kariya on projections and with Melissa Zarem on a large
                                                        mural. (August-September 2021)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-23bb55b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="23bb55b">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-049c8ea"
                         data-element_type="column" data-id="049c8ea">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-bf3dca0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-element_type="section" data-id="bf3dca0">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-17bb782"
                                         data-element_type="column" data-id="17bb782">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-b0b685a elementor-widget elementor-widget-text-editor"
                                                 data-element_type="widget" data-id="b0b685a"
                                                 data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p>Artists Abrie Fourie, Travis Johns, YuYu Myint Than, Neil Schill,
                                                        Jacob Wong and Ella Ziegler collaborated on “Iterations”.
                                                        (October 23-31)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2476bd3"
                                         data-element_type="column" data-id="2476bd3">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-85f42c9 elementor-widget elementor-widget-image"
                                                 data-element_type="widget" data-id="85f42c9"
                                                 data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img alt="" class="attachment-large size-large wp-image-1174" decoding="async" height="432"
                                                         loading="lazy"
                                                         sizes="(max-width: 768px) 100vw, 768px" src='{{ "img/2022/11/exhibitions2.jpg" | relURL }}' width="768"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}